.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #000000;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.embedHtml__yElL:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
}
.link__haqvJ {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
}
.img__pSaHy {
  object-fit: cover;
}
.img__pSaHy > picture > img {
  object-fit: cover;
}
.img__yijeN {
  object-fit: cover;
}
.img__yijeN > picture > img {
  object-fit: cover;
}
.link__iknoe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  font-size: 24px;
}
.link__txn9O {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 24px;
}
.link__x1OGa {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 24px;
}
.link__gFryf {
  display: flex;
}
.svg__vjXgW {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.link__nNOxu {
  display: flex;
}
.svg__vadVt {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.link__fmCff {
  display: flex;
}
.svg__iexnx {
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.link__kFhtu {
  display: flex;
}
.img__yibHt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 42px;
  height: 42px;
  flex-shrink: 0;
}
.img__yibHt > picture > img {
  object-fit: cover;
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  grid-row-gap: 16px;
  align-content: flex-start;
  justify-items: center;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 96px 0px;
}
.section > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section > * {
    grid-column: 4;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 8px;
}
.text {
  width: 386px;
  height: auto;
  text-align: center;
}
.img__tWq97 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 386px;
  z-index: 2;
}
.img__tWq97 > picture > img {
  object-fit: cover;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__kECmm {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___8Xckp {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.embedHtml__v4OP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 200px;
  z-index: 0;
  min-width: 0;
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  max-width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 42px 24px 24px;
}
.columns > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___1HyWr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.youTube:global(.__wab_instance) {
  width: 640px;
  height: 390px;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  flex-shrink: 0;
}
.column__kQLhu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__kcKw0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kcKw0 > picture > img {
  object-fit: cover;
}
